<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871851874413-j8d7p4mbi23vtb2q33t3irjgfru2dq3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871851874413-j8d7p4mbi23vtb2q33t3irjgfru2dq3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAWeXQB_nsg4cHdXdnsm-IBEHgsuwSjJro</string>
	<key>GCM_SENDER_ID</key>
	<string>871851874413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amirrreza.dev.TwitterSwiftUIClone</string>
	<key>PROJECT_ID</key>
	<string>swiftuitwitterclone-fce83</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitwitterclone-fce83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871851874413:ios:5cb2fe78cd1039065e4764</string>
</dict>
</plist>